<!DOCTYPE html>
<html lang="en">
<head>
    <title>time-logger</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
</head>

<body>

<h1>Log time you have worked</h1>

<p>{{ message }}</p>

<form action="/add/" method="POST">
    <select name="event" id="event">
        <option value="in">In</option>
        <option value="out">Out</option>
        <option value="out">OT In</option>
        <option value="out">OT Out</option>
    </select>
    <label for="time">Time</label>
    <input type="text" id="time" name="time">
    <label for="comment">Comment</label>
    <input type="text" id="comment" name="comment">
    <input type="submit" value="Add">
</form>



<ul id="logged_time">
    {% for item in logged_time %}
        <li>
            {{ item.date }}
            {{ item.event }}
            {{ item.time }}
            {{ item.comment }}
            <a href="delete=?{{ item.id }}" id="delete">❌</a>
            <a href="update=?{{ item.id }}" id="update">✏️</a>
        </li>
    {% endfor %}
</ul>


Static examples below:


<ul>
    <li>2025-06-18 In 07:30 ❌ ✏️</li>
    <li>2025-06-18 Out 11:30 ❌ ✏️</li>
</ul>
<input type="submit" value="End the day">
<p>Worked: 4h</p>
<p>Day saldo: -4h</p>

<ul>
    <li>2025-06-17 In 07:30 ❌ ✏️</li>
    <li>2025-06-17 Out 11:30 ❌ ✏️</li>
    <li>2025-06-17 In 12:30 ❌ ✏️</li>
    <li>2025-06-17 Out 16:30 ❌ ✏️</li>
</ul>
<p>Worked: 8h</p>
<p>Day saldo: 0</p>

</body>
</html>
