<!DOCTYPE html>
<html lang="en">
<head>
    <title>time-logger</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css" version=8>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
</head>

<body>
<div id="container">

<h1>Time Logger</h1>
<h3>Log time you have worked</h3>

<p>Use <i>In</i> and <i>Out</i> for expected 8h work days. Use <i>OT In</i> and <i>OT Out</i> for any other time (overtime).</p>

<h4>Month: {{ monthly.year }}-{{ monthly.month }}</h4>
<ul>
    <li>Worked hours this month: <b>{{ monthly.worked_hours }}</b></li>
    <li>Worked OT hours this month: <b>{{ monthly.worked_ot_hours }}</b></li>
    <li>Monthly saldo: <b>{{ monthly.monthly_saldo }}</b></li>
</ul>




<fieldset><legend>{{ date }}</legend>


<form action="/">
    <label class="label-1" for="date">Select date</label>
    <input class="form-date" type="text" id="date" name="date" value="{{ date }}">
    <button class="btn" type="submit">Change</button>
</form>


<form action="/add/" method="POST">
        <input type="hidden" id="date" name="date" value="{{ date }}">
        <label class="label-1" for="event">Event</label>
        <select name="event" id="event">
            <option value="in">In</option>
            <option value="out">Out</option>
            <option value="ot-in">OT In</option>
            <option value="ot-out">OT Out</option>
        </select>
        <label for="time">Time</label>
        <input type="text" id="time" name="time">
        <label for="comment">Comment</label>
        <input type="text" id="comment" name="comment">
     <input class="btn" type="submit" value="Add">
</form>



<form action="/update/" method="POST">
    <input type="hidden" id="date" name="date" value="{{ date }}">
    <fieldset><legend>Edit</legend>
    
    {% for item in events %}
        <div class="form-group">
        {% if item.date == date %}
            <select name="event" id="event">
                {% if item.event == "in" %}
                    <option value="in" selected>In</option>
                {% else %}
                    <option value="in">In</option>
                {% endif %}

                {% if item.event == "out" %}
                    <option value="out" selected>Out</option>
                {% else %}
                    <option value="out">Out</option>
                {% endif %}

                {% if item.event == "ot-in" %}
                    <option value="ot-in" selected>OT In</option>
                {% else %}
                    <option value="ot-in">OT In</option>
                {% endif %}

                {% if item.event == "ot-out" %}
                    <option value="ot-out" selected>OT Out</option>
                {% else %}
                    <option value="ot-out">OT Out</option>
                {% endif %}
            </select>
            <label for="time">Time</label>
            <input type="text" id="time" name="time" value="{{ item.time }}">
            
            <label for="comment">Comment</label>
            
            <input type="text" id="comment" name="comment" value="{{ item.comment }}">
            

            <a href="/delete/?id={{ item.id }}&date={{ date }}" class="delete-button" id="delete">❌</a>
            
        {% endif %}
        </div>
    {% endfor %}

    <input class="btn" type="submit" value="Update">
    </fieldset>
</form>
</fieldset>




{% for d in daily %}
<ul id="events">
        {% for item in events %}
            {% if d.date == item.date %}
            <li>
                <b>{{ item.date }}</b>,
                {{ item.event }},
                {{ item.time }},
                {{ item.comment }}
            </li>
            {% endif %}
        {% endfor %}   
</ul>
<ul>
    <li>Worked: <b>{{ d.worked_hours }}</b></li>
    <li>Worked OT: <b>{{ d.worked_ot_hours }}</b></li>
    <li>Daily saldo (excluding OT): <b>{{ d.daily_saldo }}</b></li>
    </ul>
<hr>
{% endfor %}

</div>
</body>
</html>
