<!DOCTYPE html>
<html lang="en">
<head>
    <title>time-logger</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="icon" type="image/png" href="/static/favicon.png">
</head>

<body>
<div id="container" class="container">

<div class="header">
    <h1>Time Logger</h1>

    <div class="header-button">
    {% if not request.session %}
        <button onclick="document.location='login/'" class="btn">Login</button>
    {% elif request.session %}
        <button onclick="document.location='logout/'" class="btn">Logout</button>
    {% endif %}
    </div>
</div>

<h3>You need to login to use this app</h3>



</div>
</body>
</html>